@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Moon Dance', cursive;
}

html {
  font-size: 62.5%;
  background-color: rgb(204, 182, 153);
  
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Moon Dance', cursive;
  font-weight: bold;
}

body {
  font-size: 2rem;
  text-align: center;
}

button {
  font-size: 1.5rem;
}